.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1{
  font-size: 4rem !important;
  font-weight: bold !important;
}

h2{
  font-size: 3rem !important;
  font-weight: bold !important;
}

h3{
  font-size: 2rem !important;
  font-weight: bold !important;
}

h4{
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

#messagePopup{
  position: absolute;
  bottom: 10%;
  padding: 1.5rem;
  max-width: 350px;
  box-shadow: 10px 5px 15px rgba(147, 129, 68, 0.8);
  border: rgb(48, 0, 114) outset 3px;
  background-color: #f8d7da;
  z-index: 1000;
}

#zIndex{
  z-index: 1000 !important;
}

#navbarNav{
  display: flex !important;
  justify-content: flex-end !important;
}

#navPosition{
  position: sticky !important;
  z-index: 1000 !important;
  background-color: rgba(255,255,255,0.6)
}

#profileImage{
  width: auto !important;
  height: 500px !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  position: relative !important;
  background-image: url('/src/img/images.jpg') !important;
}

#headline{
  min-width: 250px !important;
}

.navbar-brand{
  color: black !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  margin-left: 0.5rem !important;
  margin-right: auto !important;
  justify-self: flex-start !important;
}

.imgBackground{
  width: 100% !important;
  height: 100vh !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  position: relative !important; 
  background-image: url('/src/img/desirae-simmons-mast.jpg');
  z-index: 0 !important;
}
 #heroBackground::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.dropdown-item{
  color: black !important;
  text-decoration: none !important;
  list-style: none !important;
}
.dropdown{
  color: black !important;
  text-decoration: none !important;
  list-style: none !important;

}
#sidebar a.active {
  color: red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
